name: "Test"

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'releases/*'

permissions: 
  id-token: write
  contents: write

jobs:
  test-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set Node.js latest
        uses: actions/setup-node@v4.4.0
        with:
          node-version: latest

      - run: |
          npm ci
          npm run test
      
  # Exclude running this on external forks due to permissions issue
  test-action:
    if: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository }}    
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: ./
      with:
        filePath: "test"
